<div class="app-brandbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-lg-8">
                <a class="app-brand" href="/">
                    <img class="img-responsive" src="{{ page.base_url }}assets/img/roconsulting.jpg" />
                    <span class="h3 app-brandname">Robert Obermeyer</span><br class="hidden-xs">
                    <span class="h4 app-brand-subtitle">consulting <span class="h5 xtext-muted app-brand-text-sm">GmbH</span></span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <p class="h5 app-languages hide">
                    <a href="/">Deutsch</a> | <a href="/en">English</a>
                </p>
            </div>
        </div>
    </div>
</div>