<footer class="app-footer" role="contentinfo">
  <div class="container app-footer-content">
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <div class="app-footer-navbar">
              <p>
                <a href="/consulting" rel="nofollow">Consulting</a> &ndash;
                <a href="/hr-management" rel="nofollow">HR Management</a> &ndash;
                <a href="/work-fm" rel="nofollow">Work-FM</a><br>
                <a href="/kontakt" rel="nofollow">Kontakt</a> &ndash;
                <a href="/impressum" rel="nofollow">Impressum</a>
              </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="app-footer-brand">
              <img class="center-block" src="{{ page.base_url }}assets/img/roconsulting-small.jpg" />
            </div>
        </div>
        <div class="col-xs-12 col-md-5">
            <p>&copy; 2012 - Robert Obermeyer<br>
                Human Resource Management</p>
        </div>
    </div>
  </div>
</footer>