//
// Application stylesheet
// -----------------------------------------------

.app-navbar {
    font-family: @headings-font-family;
    font-weight: 700;
    text-transform: uppercase;
}

.app-content-arrow {
  position: relative;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.app-content-arrow:after {
    top: 100%;
    right: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

// Design component arrow down

.app-arrow {
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    padding: 0;
    > .app-icon {
        height: 20px;
    }
}

.app-content-arrow:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: @app-gray-light;
    border-width: 50px;
    left: 520px;
    margin-left: -50px;
}

.appbox {
    padding: @line-height-computed;
    margin-bottom: @line-height-computed;
    background: rgba(142, 192, 94, 0.5);
    color: @text-color;
    text-align: center;
}
.appbox-content {
    h2 {
        color: #000;
    }
}