//
// Application stylesheet
// -----------------------------------------------


.visualClear {
    clear: both;
}

// Fix password reset

#userid {
    .form-control();
}


.app-navbar {
    font-family: @headings-font-family;
    font-weight: 700;
    text-transform: uppercase;
    .navbar-nav > .nav-item-home > a {
        color: @brand-primary;
    }
    .navbar-nav > .dropdown > a .caret {
        border-bottom-color: @brand-primary;
        border-top-color: @brand-primary;
    }
}

.app-toolbar + .app-navbar {
    margin-top: @navbar-height;
}

.app-content {
    margin-bottom: (@line-height-computed * 2);
    &.app-content-tiles {
        margin-top: -(@navbar-height * 4);
    }
}

.app-page-default {
    border-top: 1px solid @app-primary;
    padding-top: @line-height-computed;
}

.appbox {
    padding: @line-height-computed;
    margin-bottom: @line-height-computed;
    background: rgba(142, 192, 94, 0.75);
    color: @text-color;
    text-align: center;
    &.appbox-content {
        text-align: left;
    }
}

.appbox-header > img {
    .center-block();
}

.appbox-content {
    h2 {
        color: #000;
    }
}

.appbox-btn {
    font-family: @headings-font-family;
    text-transform: uppercase;
}