//
// Application stylesheet
// -----------------------------------------------

.app-navbar {
    font-family: @headings-font-family;
    font-weight: 700;
    text-transform: uppercase;
}

.app-content-arrow {
  position: relative;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.app-content-arrow:after {
    top: 100%;
    right: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.app-content-arrow:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: @app-gray-light;
    border-width: 50px;
    left: 520px;
    margin-left: -50px;
}

.appbox {
    padding: @line-height-computed;
    background: @app-primary;
    .opacity(.5);
}
.appbox-content {
    h2 {
        color: #000;
        .opacity(1.0);
    }
}