//
// Application footer
// ---------------------------------------

.app-footer {
    border-bottom: 10px solid @app-primary;
}

.app-footer-content {
    padding: @line-height-computed;
    border-top: 1px solid @app-primary;
}

@media (min-width: @screen-desktop) {
    .app-footer-navbar {
        .text-right();
    }
}