//
// Application settings and variables
// -------------------------------------------------


// Green
@app-primary:                   #8ec05e;
// Red
@app-danger:                    #ed6262;
// Gray
@app-gray:                      #5a5f64;
@app-gray-light:                #e3e4e5;


@link-color:                    @app-danger;

@brand-primary:                 @app-danger;

@font-family-base:        'Sanchez', @font-family-sans-serif;
@headings-font-family:    'Monserrat', @font-family-base;


// Custom application navbar
@navbar-border-radius:                      0;
@navbar-inverse-bg:                         @app-gray;
@navbar-inverse-link-color:                 @gray-lighter;